.cabeçalho {
    background-color:#7ecff5;
    color: #000000;
    display:flex;
    justify-content: space-around;
    }
    .cabeçalho-título {
        color:#000000;
    }
    
    .cabeçalho-lista{
        color: #000000;
       }
    
    .cabeçalho-imagem{
        width: 20%;
    }